<template>
  <button @click="$emit('click')" v-ripple class="fat-button">
    <slot></slot>
  </button>
</template>

<script>
export default {}
</script>

<style scoped lang="scss">
.fat-button {
  background: var(--purple-highlight);
  color: white;
  cursor: pointer;
  padding: var(--spacing-2);
  border: none;
  border-radius: var(--border-radius-1);
  position: relative;
  text-transform: uppercase;
  user-select: none;
  font-weight: 800;
  font-size: var(--fs-1);
  letter-spacing: 1px;
  width: 100%;
}
</style>
