<template>
  <InputText
    :label="$t('setting.term')"
    :placeholder="$t('setting.termPlaceholder')"
    :value="searchTerm"
    @input="setSearchTerm"
  />
</template>

<script>
import InputText from './InputText'
import { createNamespacedHelpers } from 'vuex'
const { mapGetters, mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    InputText
  },
  computed: {
    ...mapGetters(['searchTerm'])
  },
  methods: {
    ...mapMutations(['setSearchTerm'])
  }
}
</script>

<style scoped lang="scss"></style>
