<template>
  <div class='container'>
    <div class='project'>
      <div class='heading'>
        <h1>{{ $t("about.title") }}</h1>
        <h2>{{ $t('about.subtitle') }}</h2>
        <div class='intro'>{{ $t('about.intro') }}</div>
      </div>

      <div class='divider'>
        <div class='flair'/>
      </div>

      <div class='values'>
        <div>
          <div class='title'>{{ $t('about.value1.title') }}</div>
          <div class='detail'>{{ $t('about.value1.detail') }}</div>
        </div>
        <div>
          <div class='title'>{{ $t('about.value2.title') }}</div>
          <div class='detail'>{{ $t('about.value2.detail') }}</div>
        </div>
        <div>
          <div class='title'>{{ $t('about.value3.title') }}</div>
          <div class='detail'>{{ $t('about.value3.detail') }}</div>
        </div>
      </div>

      <div class='team'>
        <div>
          <div class='contact'>
            <div class='title'>{{ $t('about.contact.title') }}</div>
            <div class='detail' v-html="$t('about.contact.detail')" />
          </div>
        </div>

        <div>
          <div class='contributors'>
            <div class='title'>{{ $t('about.contributors.title') }}</div>
            <div class='detail' v-html="$t('about.contributors.detail')" />
          </div>
        </div>
      </div>
    </div>

    <div class='partners'>
      <div class='heading'>{{ $t('about.partners.title') }}</div>

      <div class='collection'>
        <div class='opencollective'>
          <a href='https://opencollective.com'>
            <img :src='opencollectiveIcon' />
            <img :src='opencollectiveName' />
          </a>
        </div>

        <div>
          <a href='https://ncri.io/'>
            <img :src='ncri' />
          </a>
        </div>

        <div>
          <a href='https://foundation.mozilla.org'>
            <img :src='mozilla' />
          </a>
        </div>

        <div>
          <a href='https://rebelliousdata.com/'>
            <img :src='rebelliousData' />
          </a>
        </div>

        <div>
          <a href='https://pushshift.io/'>
            <img :src='ps' />
          </a>
        </div>

        <div>
          <a href='https://idrama.science/'>
            <img :src='iDrama' />
          </a>
        </div>
      </div>
    </div>
  </div>

    <!--
    <a href="https://rebelliousdata.com">
      <img
        src="https://emmibevensee.com/wp-content/uploads/2020/01/med-small-rb-logo-square.jpg"
        alt="rebellious data logo"
      />
    </a>
    <a href="https://idrama.science/">
      <img
        src="https://idrama.science/images/idrama.png"
        alt="iDrama logo"
        height="85"
        width="85"
      />
    </a>
    -->
</template>

<script>
import opencollectiveIcon from '@/assets/opencollective-icon.svg'
import opencollectiveName from '@/assets/opencollective-name.svg'
import ncri from '@/assets/ncri.png'
import mozilla from '@/assets/mozilla.svg'
import rebelliousData from '@/assets/rebellious-data.svg'
import ps from '@/assets/ps.png'
import iDrama from '@/assets/idrama.png'

export default {
  data () {
    return {
      opencollectiveIcon,
      opencollectiveName,
      ncri,
      mozilla,
      rebelliousData,
      ps,
      iDrama
    }
  }
}
</script>

<style scoped lang="scss">
.container {
  --gap: 20px;
  --value-min-width: 230px;
  --max-content-width: 1192px;

  width: 100%;
  max-width: 100%;
}

.project {
  padding: 4rem var(--gap) 112px;

  font-family: var(--primary-font);
  color: var(--bright-text);
  background-color: var(--dark-bg);

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-gap: 2rem;

  > h1, > h2, > div {
    width: 100%;
    max-width: var(--max-content-width);
  }

  .heading {
    display: grid;
    grid-gap: 24px;
    justify-content: start;

    h1 {
      font-size: 14px;
      font-weight: 800;
      letter-spacing: 1px;
      line-height: 1em;
      text-transform: uppercase;
      margin: 0;
    }
    h2 {
      font-size: 40px;
      font-weight: 800;
      line-height: 1em;
      margin: 0;
    }

    .intro {
      max-width: 629px;
      font-size: 20px;
      font-weight: normal;
      line-height: 1.6;
    }
  }

  .divider {
    .flair {
      width: 60px;
      height: 4px;
      background-color: var(--purple-highlight);
    }

    margin-bottom: 92px;
  }

  .values {
    display: grid;
    grid-template-columns: repeat(3, minmax(var(--value-min-width), 1fr));
    grid-gap: var(--gap);
    grid-row-gap: calc(3 * var(--gap));

    > div {
      > .title {
        font-size: 24px;
        font-weight: bold;
      }

      > .detail {
        margin-top: 16px;

        font-size: 16px;
        line-height: 1.63;
      }
    }
  }

  .team {
    margin-top: 112px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);

    > div > div {
      border-radius: 2px;
      padding: 24px;

      color: var(--a-bit-gray-text);
      background-color: #fff;

      .title {
        font-size: 24px;
        font-weight: bold;
        color: var(--a-bit-gray-text);
      }

      .detail {
        margin-top: 16px;
        font-size: 16px;
        line-height: 24px;

        // TODO why does this not work?!!!
        a, a:visited, a:hover, a:focus {
          color: var(--purple-highlight);
          text-decoration: none;
        }
      }
    }

    > div > .contact {
      border-left: 8px solid var(--purple-highlight);
    }

    > div > .contributors {
      border-left: 8px solid #fb5607;
    }
  }
}

.partners {
  padding: 104px var(--gap);
  background-color: #f6f6f8;

  .heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: var(--a-bit-gray-text);
  }

  .collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      padding: 30px;

      img {
        height: 60px;
        max-width: 180px;
      }
      img + img {
        margin-left: 10px;
      }
    }
  }
}

// calc(3*var(--value-min-width) + 4*var(--gap))
// = 690 + 80 = 770
@media (max-width: 770px) {
  .project {
    .values {
      grid-template-columns: 1fr 1fr;
    }

    .team {
      grid-template-columns: 1fr;
    }
  }
}

// calc(2*var(--value-min-width) + 3*var(--gap))
// = 460 + 60 = 520
@media (max-width: 520px) {
  .project {
    .values {
      grid-template-columns: 1fr;
    }
  }
}

</style>
