<template>
  <q-page :class="pageType">
    <div class="wrapper">
      <keep-alive>
        <router-view name="page" />
      </keep-alive>
    </div>
  </q-page>
</template>

<script>
export default {
  computed: {
    pageType () {
      return (this.$route.name === 'about')
        ? 'about-page'
        : 'app-page'
    }
  }
}
</script>

<style scoped lang="scss">
.app-page {
  background: var(--main-bg);
  color: var(--dark-text);
  padding: 3rem;

  .wrapper {
    max-width: var(--max-content-width);
    margin: auto;
  }
}

@media (max-width: 650px) {
  .app-page {
    padding: 3rem 0;
  }
}

</style>
