<template>
  <BaseIcon v-if='name' :name='name' :class='website' size='1.2em' />
  <img v-else :src='src' :class='website' />
</template>

<script>
import BaseIcon from './BaseIcon'
import { TWITTER, REDDIT, GAB, FOURCHAN, EIGHTKUN } from '@/constants'
import fourchan from '@/assets/4chan.svg'
import eightkun from '@/assets/8kun.svg'

export default {
  components: {
    BaseIcon
  },
  props: {
    website: String
  },
  computed: {
    name () {
      switch (this.website) {
        case TWITTER: return 'fab fa-twitter'
        case REDDIT: return 'fab fa-reddit-alien'
        case GAB: return 'fas fa-frog'
        default: return false
      }
    },
    src () {
      switch (this.website) {
        case FOURCHAN: return fourchan
        case EIGHTKUN: return eightkun
        default: return ''
      }
    }
  }
}
</script>

<style scoped lang="scss">
.twitter {
  color: #65bbf2;
}

.reddit {
  color: #fb5607;
}

.gab {
  color: #25cc80;
}

.4chan {
}

.8kun {
}

img {
  width: 1.2rem;
}
</style>
