<template>
  <div>
    <form @submit.prevent="search('timeline')">
      <InputSearchTerm />

      <InputDates />

      <InputWebsites />

      <InputInterval />

      <InputChangepoint />

      <FatButton>
        {{ $t("setting.button.timeline") }}
      </FatButton>
    </form>
  </div>
</template>

<script>
import InputSearchTerm from '@/components/input/InputSearchTerm'
import InputDates from '@/components/input/InputDates'
import InputWebsites from '@/components/input/InputWebsites'
import InputInterval from '@/components/input/InputInterval'
import InputChangepoint from '@/components/input/InputChangepoint'
import FatButton from '@/components/input/FatButton'
import { createNamespacedHelpers } from 'vuex'
const { mapMutations } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    InputSearchTerm,
    InputDates,
    InputWebsites,
    InputInterval,
    InputChangepoint,
    FatButton
  },
  methods: {
    ...mapMutations(['search'])
  }
}
</script>

<style scoped lang="scss">
form > * {
  margin-top: var(--spacing-5);
}
</style>
