<template>
  <div id="app">
    <q-layout>
      <TheTopBar @toggleSidebar="sidebar = !sidebar" />
      <template v-if="$route.name !== 'about'">
        <q-drawer
          v-if="large"
          v-model="sidebar"
          show-if-above
          :width="400"
          :breakpoint="0"
          elevated
        >
          <TheSidebar />
        </q-drawer>
        <BaseModal v-else v-model="sidebar">
          <TheSidebar />
        </BaseModal>
      </template>
      <q-page-container>
        <ThePage />
      </q-page-container>
    </q-layout>
  </div>
</template>

<script>
import TheTopBar from '@/components/TheTopBar'
import TheSidebar from '@/components/sidebar/TheSidebar'
import BaseModal from '@/components/BaseModal'
import ThePage from '@/components/ThePage'
import { createNamespacedHelpers } from 'vuex'
const { mapState } = createNamespacedHelpers('searchSettings')

export default {
  components: {
    TheTopBar,
    TheSidebar,
    BaseModal,
    ThePage
  },
  data () {
    return {
      sidebar: true,
      large: false
    }
  },
  computed: {
    ...mapState(['settings', 'doSearch', 'history'])
  },
  methods: {
    updateLarge () {
      this.large = window.matchMedia('(min-width: 1000px)').matches
    }
  },
  watch: {
    // when the user clicks Search, this variable is incremented, so we watch
    // it to find out when the user wants to search. a weird kind of event bus
    'doSearch.count': function () {
      if (!this.large) {
        this.sidebar = false
      }
    }
  },
  created () {
    this.updateLarge()
    window.addEventListener('resize', this.updateLarge)
  }
}
</script>

<style lang="scss">
@import "global";
</style>

<style scoped lang="scss">
@import "~@openfonts/sarabun_all/index.css";

#app {
  font-family: var(--primary-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-text);
}

.toolbar {
  background: var(--dark-bg);
}
</style>
